.root {
  display: flex;
  justify-content: center;
}

.headerWrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent {
  display: flex;
  gap: 10px;
  max-width: 800px;
  font-size: 28px;
  font-weight: lighter;
}

.contentWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.loginButton {
  font-size: 24px;

  & > img {
    vertical-align: center;
  }
}

button.logoutButton {
  height: 50px;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.36);
}

.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  min-width: 300px;
  min-height: 150px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 12px;
  border: 1px solid gray;
  padding: 20px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 28px;
  font-weight: lighter;
}

.link {
  text-decoration: none;
  font-size: 24px;
  color: black;
  padding: 5px;
  transition: all 150ms;

  &:hover {
    opacity: 0.5;
  }
}

.activeLink {
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid grey;
  cursor: default;

  &:hover {
    opacity: 1;
  }
}